<%#
	neobirdkawe is a clean HTML5 theme for LuCI. It is based on luci-theme-bootstrap and MUI

	luci-theme-neobirdkawe
	Copyright 2015-2017 Lutty Yang <lutty@wcan.in>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/LuttyYang/luci-theme-neobirdkawe/issues

	luci-theme-bootstrap:
	Copyright 2008 Steven Barth <steven@midlink.org>
	Copyright 2008-2016 Jo-Philipp Wich <jow@openwrt.org>
	Copyright 2012 David Menting <david@nut-bolt.nl>

	MUI:
	https://github.com/muicss/mui

	Licensed to the public under the Apache License 2.0
-%>

<%
	local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local ver  = require "luci.version"

	local boardinfo = util.ubus("system", "board") or { }

	local node = disp.context.dispatched
	local path = table.concat(disp.context.path, "-")

	http.prepare_content("text/html; charset=UTF-8")
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#09c">
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-TileColor" content="#09c">
<meta name="application-name" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
<meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
<link rel="stylesheet" href="<%=media%>/cascade.css?v=git-24.029.29787-2e4094c">
<link rel="shortcut icon" href="<%=media%>/favicon.ico">
<% if node and node.css then %>
<link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
<link rel="icon" href="<%=media%>/images/icon.png" sizes="192x192">
<% end -%>
<script src="<%=url('admin/translations', luci.i18n.context.lang)%>?v=git-24.029.29787-2e4094c"></script>
<script src="<%=resource%>/cbi.js?v=git-24.029.29787-2e4094c"></script>
<title><%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
<% if css then %><style title="text/css">
<%= css %>
</style>
<% end -%>
</head>
<body class="lang_<%=luci.i18n.context.lang%> <% if luci.dispatcher.context.authsession then %>logged-in<% end %> <% if not (path == "") then %>node-<%= path %><% else %>node-main-login<% end %>" data-page="<%= pcdata(path) %>">
<header>
	<div class="fill">
		<div class="container">
			<span class="showSide"></span>
			<a id="logo" href="<% if luci.dispatcher.context.authsession then %><%=url('admin/status/overview')%><% else %>#<% end %>"><img       src="<%=media%>/brand.png" alt="OpenWrt"></a>
		
			<span class="status" id="indicators"></span>
		</div>
	</div>
</header>
<div class="main">
	<div style="" class="loading"><span><div class="loading-img"></div><%:Collecting data...%></span></div>
	<div class="main-left" id="mainmenu" style="display:none"></div>
	<div class="main-right">
		<div class="modemenu-buttons" style="display:none">
			<ul id="modemenu"></ul>
		</div>
		<div class="darkMask"></div>
		<div id="maincontent">
			<div class="container">
				<%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") and path ~= "admin-system-admin-password" then -%>
				<%- end -%>

				<%- if boardinfo.rootfs_type == "initramfs" then -%>
					<div class="alert-message warning">
						<h4><%:System running in recovery (initramfs) mode.%></h4>
						<p><%:No changes to settings will be stored and are lost after rebooting. This mode should only be used to install a firmware upgrade%></p>
						<% if disp.lookup("admin/system/flash") then %>
						  <div class="right"><a class="btn" href="<%=url("admin/system/flash")%>"><%:Go to firmware upgrade...%></a></div>
						<% end %>
					</div>
				<%- end -%>

				<noscript>
					<div class="alert-message warning">
						<h4><%:JavaScript required!%></h4>
						<p><%:You must enable JavaScript in your browser or LuCI will not work properly.%></p>
					</div>
				</noscript>

				<div id="tabmenu" style="display:none"></div>
				
				
<style>
.pure-img {
    max-height: 100%;
    width: auto;
}
.status-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .3);
    color: #525f7f;
    background: #fff;
    z-index: 5;
    box-sizing: border-box;
    min-width:100%;
}

.status-bar .icon-con {
    height: 4.6em;
    text-align: left;
}

footer{
display:block !important;
}
    
@media screen and (max-width: 700px) {
.status-bar .icon-con {
    height: 2.5em;
}
}
</style>
<script src="<%=media%>/js/jquery.min.js?v=git-24.029.29787-2e4094c"></script>
<script>
if(typeof jQuery == 'undefined'){
document.write('<script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"><\/script>');
}
</script>
<div class="status-bar">
    <div>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <div class="icon-con">
                     &nbsp &nbsp &nbsp &nbsp
                     <a href="/cgi-bin/luci/admin/status/overview"><img src="<%=media%>/images/home.png" class="pure-img i1" /></a>
                     &nbsp &nbsp &nbsp &nbsp
                     <a href="/cgi-bin/luci/admin/services/openclash"><img src="<%=media%>/images/ssr.png" class="pure-img i2" /></a>
                     &nbsp &nbsp &nbsp &nbsp
                     <a href="/cgi-bin/luci/admin/network/network"><img src="<%=media%>/images/link.png" class="pure-img i3" /></a>
                     &nbsp &nbsp &nbsp &nbsp
                     <a href="/cgi-bin/luci/admin/status/channel_analysis"><img src="<%=media%>/images/rank.png" class="pure-img i4" /></a>
                     &nbsp &nbsp &nbsp &nbsp
                     <a href="/cgi-bin/luci/admin/system/admin"><img src="<%=media%>/images/user.png" class="pure-img i5" /></a>
                     &nbsp &nbsp
                    
                </div>
            </div>
        </div>
    </div>
</div>

